body {
    background-color: #edf6f9;
    font-family: 'Oswald', sans-serif;
}

.title {
    background-color: #83c5be;
    font-size: 50px;
    color: black;
   
}

.logo{
width: 100px;
cursor: pointer;

}

.navbar{
    width: 100%;
    height: 15vh;
    margin: none;
    display: flex;
    align-items: center;
    

}

nav{
    flex: 1;
    padding: 0px 22px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
  

}

nav ul li:hover{
    background-color: #006d77;
    color: white;
    box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
    transition: all ease 0.2s;
}

.sb {
    
    list-style: none;
    text-decoration: none;
    text-align: center;
    
} 

.Msidebar  {
    background-color: #83c5be;
    height:1500px;
    width: 250px;
    list-style: none;
    text-decoration: none;
    margin:-9px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; 
}
.Msidebar ul li:hover{
    background-color: #006d77;
    color: white;
    box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
    transition: all ease 0.2s;
}

.head{
    font-style: bold;
    font-size: 50px;
    line-height: 50px;
}

.fav1{
    width: 150px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
    justify-content: flex-start;
    
}

.fav{
   
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 50px; 

}
.tr{
    
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 50px;
}
.wia{
    
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.hf{
    
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 50px;
    color: #ee6c4d;
}

.ss{
    display: flex;
}
.ff{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    height: fit-content;
    

}
/* حركات بركات البطايق  */
h5{
    color: #81b29a;
}
.W1{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W1:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.text1{
    font-size: 15px;
    color: #81b29a;
   
}
.info{
    line-height: 17px;
}
.W2{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W2:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W3{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W3:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W4{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W4:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}

.W5{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W5:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}

.W6{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W6:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}

.W7{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W7:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W8{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W8:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W9{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W9:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}.W10{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W10:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W11{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W11:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}

.W12{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W12:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
/* for movie page */
.W13{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W13:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W14{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W14:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W15{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W15:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W16{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W16:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W17{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W17:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W18{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W18:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W19{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W19:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W20{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W20:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W21{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W21:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W22{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W22:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W23{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W23:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
/* series page */
.W24{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W24:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W25{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W25:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W26{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W26:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W27{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W27:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W28{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W28:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W29{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W29:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W30{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W30:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W31{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W31:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W32{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W32:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W33{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W33:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W34{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W34:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
.W35{
    width: 150px;
    border: none;
    outline: none;
    background-color: #293241;
    border-radius: 20px;
    transition: transform .3s;
    text-align: center;
}
.W35:hover{
    transform: translateY(-15px);
    transition: transform .3s;

}
/* end of it  */